.container-fluid {
	text-align: center;
	padding: 0;
}

/*navbar styles*/

.navbar {
	height: 65px;
	background-color: #32323a;
}

.navbar-header {
	border: transparent;
}

.navbar-collapse {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.navbar-default {
	border: none;
}

.navbar-default .navbar-collapse {
	background-color: #32323a;
}

.navbar-default .navbar-nav li a {
	color: white;
	text-align: left;
	margin-right: 15px;
	margin-left: 15px;
	border-bottom: .1px solid #3c3c47;
	font-family: serif;
	font-style: oblique;
}

.navbar-default .navbar-nav li a:hover {
	background-color:  #474752;
	color: white;
}

.navbar-default .navbar-nav .active a:hover {
	background-color:  #474752;
	color: white;
}

.navbar-default .navbar-nav .active a {
	background-color:  #474752;
	color: white;
}

.container-fluid .navbar-collapse, .container-fluid .navbar-header, .container .navbar-collapse, .container .navbar-header {
	border: transparent;
}

 .navbar-nav li:nth-child(3) {
	border-bottom: none;
}

/*main styles*/

.fill-screen {
	background-size: cover;
}
.row  {
	margin: auto;
}

body {
	position: relative;
	color: #818285;

}

section {
	max-width: 900px;
	padding-top: 60px;
}

section p {
	padding: 30px;
	padding-top: 10px;
	margin: auto;
}

ul {
	list-style: none;
	text-align: center;
	padding-left: 0;
}

li {
	display: inline-block;
}

/*button styles*/

section button {
	height: 35px;
	width: 260px;
	background-color: #818285;
	border: none;
	border-radius: 5px;
	font-style: oblique;
	font-weight: bold;
}

.mission-btn {
	color: #8fd4d6;
}

.team-btn {
	color: #92a5d5;
}

.case-btn {
	color: #dc3d28;
}

/*footer styles*/

footer {
	background-color: #32323a;
	padding: 10px;
	text-align: center;
	color: #78797d;
	font-family: "BioRhyme", serif;
	font-style: oblique;
}

footer p {
	font-weight: bold;
}

footer img {
	height: 35px;
}

/*styles for case studies*/

.case-sub-head {
	padding-bottom: 100px;
	text-align: center;
}

.tgif-img {
	background-image: url(../images/tgif-img1.png);
	background-repeat: no-repeat;
	height: 307px;
	width: 300px;
	margin: auto;
}

.tgif-img img {
	position: relative;
	left: 20px;
	top: -90px;
}

.lego-img {
	background-image: url(../images/legos-img1.png);
	background-repeat: no-repeat;
	height: 290px;
	width: 250px;
	margin: auto;
}

lego-img img {
	position: relative;

	padding-right: 30px;
}

.seaworld-img {
	background-image: url(../images/sea-world-img1.png);
	background-repeat: no-repeat;
	height: 275px;
	width: 277px;
	margin: auto;
}

.seaworld-img img {
	position: relative;
	left: 20px;
	top: -30px;	
}

.case-img {
	display: inline-block;
}

.case-sub-head {
	float: left;
}

.case-sub-head h2{
	padding-bottom: 20px;
}

h2 {
	font-family: "BioRhyme", serif;
}

h2 span {
	font-size: 45px;
	font-weight: bold;
}
/*styles for animated menu button*/

 .navbar-toggle {
	border: solid;
	border-radius: 50%;
	height: 45px;
}

.navbar-default .navbar-toggle{
	border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; 
}

/*carousel styles*/
#myCarousel {
	max-width: 250px;
	margin: auto;
}

.carousel-inner {
	height: 345px;
}

.carousel-indicators {
	position: static;
	padding-left: 0;
	margin: auto;
}

.carousel-indicators li {
	background-color: #5c5c5c;
	height: 14px;
	width: 14px;
	margin: 0 15px;
}

.carousel-indicators .active {
	background-color: #5c5c5c;
	height: 16px;
	width: 16px;
	margin: 0 13px;
}

.carousel-img {
	margin: auto;
	height: 260px !important;
	padding-top: 30px;
}

.carousel-icon {
	height: 30px;
}

ol, ul {
	margin-top: 20px;
}

/*media queries (min-width 768px)*/
@media (min-width: 768px) {
	
	.navbar {
		margin: auto;
		height: 0px;
	}
	
	.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
	
	.navbar-default .navbar-nav li a {
		border-bottom: none;
		margin: 0;
	}
}

::-webkit-scrollbar {
	display: none;
}
