.container-fluid {
	text-align: center;
	padding: 0;
}

/*navbar styles*/

.navbar {
	height: 65px;
	background-color: #32323a;
}

.navbar-header {
	border: transparent;
}

.navbar-collapse {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.navbar-default {
	border: none;
}

.navbar-default .navbar-collapse {
	background-color: #32323a;
}

.navbar-default .navbar-nav li a {
	color: white;
	text-align: left;
	margin-right: 15px;
	margin-left: 15px;
	border-bottom: .1px solid #3c3c47;
	font-family: serif;
	font-style: oblique;
}

.navbar-default .navbar-nav li a:hover {
	background-color:  #474752;
	color: white;
}

.navbar-default .navbar-nav .active a:hover {
	background-color:  #474752;
	color: white;
}

.navbar-default .navbar-nav .active a {
	background-color:  #474752;
	color: white;
}

.container-fluid .navbar-collapse, .container-fluid .navbar-header, .container .navbar-collapse, .container .navbar-header {
	border: transparent;
}

/*main styles*/

.fill-screen {
	background-size: cover;
}

.row  {
	margin: auto;
}

body {
	position: relative;
	color: #818285;

}

section {
	max-width: 900px;
	padding-top: 60px;
}

section p {
	padding: 30px;
	padding-top: 10px;
	margin: auto;
}

h2 {
	font-size: 25px;
	letter-spacing: -0.5px;
	padding: 0 5px;
}

ul {
	list-style: none;
	text-align: center;
	padding-left: 0;
}

li {
	display: inline-block;
}

/*button styles*/

section button {
	height: 35px;
	width: 260px;
	background-color: #818285;
	border: none;
	border-radius: 5px;
	font-style: oblique;
	font-weight: bold;
}

.mission-btn {
	color: #8fd4d6;
}

.team-btn {
	color: #92a5d5;
}

.case-btn {
	color: #dc3d28;
}

/*styles for case studies*/

.case-sub-head {
	padding-bottom: 100px;
	text-align: center;
}

.case-imgs {
	display: inline-block;
}

.case-sub-head {
	padding-bottom: 10px;
	text-align: center;
}

.case-sub-head h2{ 
	padding-bottom: 20px;
}

.overlay {
	position: absolute;
	z-index: 2;
}

.tgif-overlay {
	bottom: 0px;
}

.tgif-img, 
.lego-img,
.sea-img {
	position: relative;	
}

.tgif-img {
	z-index: 1;
}

.lego-img {
	z-index: 0;
}

.sea-img {
	z-index: 2;	
	padding-left: 10px; 
}

h2 span {
	font-size: 35px;
}

/*styles for animated menu button*/

 .navbar-toggle {
	border: solid;
	border-radius: 50%;
	height: 45px;
	 margin-right: 20px;
}

.navbar-default .navbar-toggle{
	border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; 
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #474752;
  color: white;
}

/*team carousel styles*/

#myCarousel {
	margin: auto;
}

.carousel-inner {
	height: 345px;
	overflow: visible;
	overflow-y: scroll;
}

.active-slider {
	min-width: 750px;
}

.carousel-indicators {
	position: static;
	padding-left: 0;
	margin: auto;
}

.carousel-indicators li {
	background-color: #5c5c5c;
	height: 14px;
	width: 14px;
	padding: 3px;
	margin: 0 15px;
}

.carousel-indicators .active {
	background-color: #5c5c5c;
	height: 16px;
	width: 16px;
	margin: 0 13px;
}

.carousel-img {
	margin: auto;
	height: 260px !important;
	padding-top: 30px;
}

.carousel-icon {
	height: 30px;
}

.hover-over-container {
	position: absolute;
	background-color: white;
	height: 300px;
	width: 220px;
	padding-top: 50px;
	padding-left: 30px;
	top: 25px;
	
	display: none;
	z-index: 2;
}

.hover-over-quote {
	color: #c8c9cb;
	font-family: "BioRhyme", serif;	
	font-style: italic;
	padding: 15px 0;
}

quote {
	font-size: 30px;
}

.line-img {
	width: 110px;
}

ol, ul {
	margin-top: 20px;
}

/*footer styles*/

footer {
	background-color: #32323a;
	padding: 10px;
	text-align: center;
	color: #78797d;
	font-family: "BioRhyme", serif;
	font-style: italic;
}

footer p {
	font-weight: bold;
}

footer img {
	height: 35px;
}

/*media queries (min-width 768px)*/

@media (min-width: 768px) {
	
/*	nav styles*/
	.navbar {
		margin: auto;
		height: 0px;
	}
	
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
	
	.navbar-default .navbar-nav li a {
		border-bottom: none;
		margin: 0;
	}
	
/*	main styles*/
	
	.case-container {
		padding-top: 80px;
	}
	
	.case-content {
		margin: auto;
		max-width: 800px;
	}
	
	.case-sub-head-container{
		float: left;
		max-width: 500px;
 }
	
	.case-sub-head {
		position: relative;
		right: -40px;
		top: 140px;
	}
	
	h2 {
		font-family: "BioRhyme", serif;
		font-size: 26px;
	}
	
	h2 span {
		font-size: 40px;
		font-weight: bold;
  }
	
/*image styles*/
	
	.layered-img {
		float: right;
	}
	
	.layered-img img {
		height: 350px;
	}
	
	.tgif-img {
		top: -150px;
	}
	
	.tgif-img img{
		height: 550px;	
	}

	.tgif-overlay {
	  bottom: -100px;
	}
	
	.lego-img {
		top: 250px;
		left: 10px;
	}
	
	.sea-img {
		right: -360px;
		bottom: 100px;
	}
	
}

::-webkit-scrollbar {
	display: none;
}
