.container-fluid {
	text-align: center;
}

.navbar {
	height: 65px;
	background-color: #32323a;
}

.navbar-header {
	border: transparent;
}

.navbar-collapse {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.navbar-default {
	border: none;
}

.navbar-default .navbar-collapse {
	background-color: #32323a;
}

.navbar-default .navbar-nav li a {
	color: white;
	text-align: left;
	margin-right: 15px;
	margin-left: 15px;
	border-bottom: .1px solid #3c3c47;
}

.container-fluid .navbar-collapse, .container-fluid .navbar-header, .container .navbar-collapse, .container .navbar-header {
	border: transparent;
}

 .navbar-nav li:nth-child(3) {
	border-bottom: none;
}

.fill-screen {
	background-size: cover;
	margin-top: -20px;
}

section p {
	padding: 30px;
	padding-top: 10px;
}

ul {
	list-style: none;
	text-align: center;
	padding-left: 0;
}

li {
	display: inline-block;
}

a img {
	height: 40px;
}

footer {
	background-color: #32323a;
	padding: 30px;
	text-align: center;
	color: aliceblue;
}
/*styles for case studies*/

.tgif-img {
	background-image: url(images/tgif-img1.png);
	background-repeat: no-repeat;
	height: 307px;
	width: 300px;
	margin: auto;
	
}

.tgif-img img {
	position: relative;
	left: -20px;
	top: -70px
}

.lego-img {
	background-image: url(images/legos-img1.png);
	background-repeat: no-repeat;
	height: 290px;
	width: 250px;
	

}

.seaworld-img {
	background-image: url(images/sea-world-img1.png);
	background-repeat: no-repeat;
	height: 275px;
	width: 277px;
	margin: auto;

}

.case-img {
	display: inline-block;
}

/*styles for animated menu button*/

 .navbar-toggle {
	border: solid;
	border-radius: 50%;
	height: 45px;
}

.navbar-default .navbar-toggle{
	border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; 
}

/*carousel styles*/
#myCarousel {
	max-width: 250px;
	margin: auto;
}

.carousel-inner {
	height: 345px;
}

.carousel-indicators {
	position: static;
	padding-left: 0;
	margin: auto;
}

.carousel-indicators li {
	background-color: #5c5c5c;
	height: 14px;
	width: 14px;
	margin: 0 15px;
}

.carousel-indicators .active {
	background-color: #5c5c5c;
	height: 16px;
	width: 16px;
	margin: 0 13px;
}

.carousel-img {
	margin: auto;
	height: 260px !important;
}

.carousel-icon {
	height: 30px;
}

ol, ul {
	margin-top: 20px;
}

/*media queries (min-width 768px)*/
@media (min-width: 768px) {
	
	.navbar {
		margin: auto;
		height: 0px;
	}
	
	.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
	
	.navbar-default .navbar-nav li a {
		border-bottom: none;
		margin: 0;
	}
}
